<% include ../partials/header1%>


<div class="container">
    <h1 style="text-align: center">Bookings</h1>
    <%if(results.length==0){%>
        <h3 style="color: #888888;text-align: center;">No bookings available</h3>
    <%}else {%>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Booking ID</th>
            <th>Name</th>
            <th>Campname</th>
            <th>From</th>
            <th>To</th>
            <th>Email</th>
            <th>Cancellation</th>
        </tr>
        </thead>
        <tbody>
        <%for(var i=0;i<results.length;i++){%>
        <tr>
            <td><a href="/admin/bookings/<%=results[i].BOOKING_ID%>"><%=results[i].BOOKING_ID%></a></td>
            <td><%=results[i].NAME%></td>
            <td><%=results[i].CAMPNAME%></td>
            <td><%=results[i].START_F.getDate()+"/"+(results[i].START_F.getMonth()+1)+"/"+results[i].START_F.getFullYear()%></td>
            <td><%=results[i].END_T.getDate()+"/"+(results[i].END_T.getMonth()+1)+"/"+results[i].END_T.getFullYear()%></td>
            <td><%=results[i].EMAIL%></td>

                <td>No</td>
        </tr>
        <%}%>



        </tbody>
    </table>
    <%}%>
    <hr>
    <h1 style="text-align: center">Cancelled Bookings</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Booking ID</th>
            <th>Cancellation ID</th>
            <th>Transaction ID</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <%for(var i=0;i<cancelled.length;i++){%>
        <tr>
            <td><%=cancelled[i].BOOKING_ID%></td>
            <td><%=cancelled[i].CANCELLATION_ID%></td>
            <td><%=cancelled[i].TRANSACTION_ID%></td>
            <td><%=cancelled[i].PRICE%></td>
        </tr>
        <%}%>

        </tbody>
    </table>



</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<% include ../partials/footer%>