<% include partials/header%>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Your Bookings</h1>
        <hr>
        <%if(bookings.length==0){%>
            <h3 style="color: #888888; text-align: center;">You have no bookings!!</h3>
        <%}%>
        <%for(var i=0;i<bookings.length;i++){%>
        <a href="/<%="bookings/"+bookings[i].BOOKING_ID%>" style="text-decoration: none">
        <div style="width: 75% ;margin:25px auto;">
            <div style= " text-align: center;">
                <div class="panel-group">
                    <%if(bookings[i].CANCELLED==0){%>
                    <div class="panel panel-primary">
                    <%}else{%>
                        <div class="panel panel-danger">
                            <%}%>
                        <div class="panel-body " style="text-align: right;display: inline-block" >

                            <img src="<%=bookings[i].IMGURL%>" alt="lol" class="img-thumbnail" style="display:inline-block;float: left; object-fit: scale-down;height:30%;width:30%">
                            <h4 style="display:inline-block; ">Booking ID:<span style="color:brown"><%=bookings[i].BOOKING_ID%></span></h4>
                            <h4 style="display:inline-block">Camp Name:<span style="color:brown"><%=bookings[i].CAMPNAME%></span></h4>
                            <br>
                            <h4 style="display:inline-block;width: 45%;">FROM:<span style="color: brown"><%=bookings[i].START_F.getDay().toString()+" / "+(bookings[i].START_F.getMonth()+1).toString()+" / "+(bookings[i].START_F.getFullYear())%></span></h4>
                            <br>
                            <h4 style="display:inline-block;width: 45%;">TO:<span style="color: brown"><%=bookings[i].END_T.getDay()+" / "+(bookings[i].END_T.getMonth()+1).toString()+" / "+bookings[i].END_T.getFullYear()%>.</span></h4>
                            <br>
                            <%if(bookings[i].CANCELLED==1){%>
                            <h4 style="color: red;" >Cancelled</h4>
                            <%}%>
                            <!-- format the date -->

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </a>

        <%}%>

        </div>
    <a href="/campgrounds" style="text-align: center;">Go back</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
<% include partials/footer%>