<% include ../partials/header%>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Edit <%=campground[0].CAMPNAME%></h1>
          <div style="width: 30% ;margin:25px auto;">
            <form action="/campgrounds/<%=campground[0].ID%>/edit" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="<%=campground[0].CAMPNAME%>"> 
                </div>
                <div class="form-group"> 
                    <input class="form-control" type="text" name="image"  value="<%=campground[0].IMGURL%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" value="<%=campground[0].DESCRIPTION%>" >
                </div>
                 <div class="form-group">
                    <input class="form-control" type="number" name="price" value="<%=campground[0].PRICE%>" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="location" value="<%=campground[0].LOCATION%>">
                </div>
                <div class="form-group">
                     <button class="btn btn-lg btn-primary btn-block">Submit</button>
                 </div>
            </form>
           <a href="/campgrounds">Go back</a>
          </div>
       
    </div>
</div>
<% include ../partials/footer%>